<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="codestream.jungmini.me.database.mapper.OauthMapper">
    <insert id="save" parameterType="codestream.jungmini.me.model.Oauth" useGeneratedKeys="true" keyProperty="oauthId">
        INSERT INTO oauths(provider, provider_id, user_id, created_at, updated_at)
        VALUES ( #{provider}, #{providerId}, #{userId}, #{createdAt}, #{updatedAt} )
    </insert>
    
</mapper>